$headerBackgroundColor: to left, rgb(6, 25, 11), rgb(7, 18, 7);
$titleColor: rgb(34, 20, 20);

.header {
	display: grid;
	background: linear-gradient($headerBackgroundColor);
	min-height: 12.5vh;
	min-width: 100%;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;

	#title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $titleColor;
		
		h2 {
			text-transform: uppercase;
			color: white;
			padding: 0;
			margin: 0.3em auto;
			overflow-x: none;
	
		}
		&:hover {
			cursor: pointer;
		}
	}
	
}
